body{
  background-color: #28282c
}

.old{
    background-color: #5d5c5c;
}
.MainButtons{
    
    border-radius: 5% 5% 5% 5% / 25% 25% 25% 25%      ;
    width: 400px;
    margin: 10px;
    height: 75px;
    font-size: 35px;
    border:0px;
    background-color: rgb(144, 137, 137);
}
.MainButtons:hover{
    background-color: rgb(255, 255, 255);
    cursor:pointer;
}
.active {
    background-color: white; 
}

.buttons {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:  50% 50% 50% 50% / 25% 25% 25% 25%  ;
    width: 100px;
    height: 100px;
    font-size: 35px;
    border:0px;
}


#id\+button, #id\-button, #id\*button,  #id\/button, #id\!button, #id\^2button, #id\%button, #id\√button, #id\(button,#id\)button{
    background-color: rgb(144, 137, 137);
}

#id0button {
    border-radius:  10% 10% 10% 10% / 25% 25% 25% 25%  ;
    width: 200px;
}
#idCbutton {
    background-color: rgb(127, 41, 41);
    border-radius:  10% 10% 10% 10% / 25% 25% 25% 25% ;
    width: 200px;
}
#id\=button {
    background-color: rgb(38, 180, 128);
    border-radius: 10% 10% 10% 10% / 25% 25% 25% 25%      ;
    width: 406px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3c45;
    color: white;
    border-radius: 5% 5% 5% 5%/ 25% 25% 25% 25%;
    font-size: 30px;
    text-align: right;
    width: 403px; /* Fixed width */
    height: 75px; /* Fixed height */
}


.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{              
    display: flex;
    justify-content: center; 
    align-items: center;
}
.head{
    text-align: center;
    color: white;
    font-size: 55px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.select-match:hover,.reset-button:hover, #id\+button:hover, #id\^2button:hover, #id\%button:hover, .tictac:hover,  #id\!button:hover,#id\)button:hover, #id\(button:hover,  #id\√button:hover, #id\-button:hover, #id\*button:hover, #id\/button:hover, .buttons:hover, #idCbutton:hover, #id0button:hover, #id\=button:hover{
    background-color: rgb(156, 59, 212);
    cursor:pointer;
    
}
/* -------------------------------------------------*/
.tictac{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:  50% 50% 50% 50% / 25% 25% 25% 25%  ;
    width: 150px;
    height: 150px;
    font-size: 35px;
    border:4px solid #28282c;
    background-color: rgb(144, 137, 137);
}
.tactoeO{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:  50% 50% 50% 50% / 25% 25% 25% 25%  ;
    width: 150px;
    height: 150px;
    font-size: 35px;
    border:0px;
    background-color: rgb(254, 195, 19);
}
.tactoeX{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:  50% 50% 50% 50% / 25% 25% 25% 25%  ;
    width: 150px;
    height: 150px;
    font-size: 35px;
    border:0px;
    background-color:rgb(33, 87, 141) 
}

.reset-button{
    
    background-color: rgb(127, 41, 41);
    border-radius:  10% 10% 10% 10% / 25% 25% 25% 25% ;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border:0px;
    color: white;
}
.status{
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.player-names{
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.playertxt{
    border-radius: 5% 5% 5% 5% / 25% 25% 25% 25% ;
    background-color: rgb(72, 73, 80);
    margin: 10px;
    text-align: center; 
    font-size: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
}
.select-match{
    margin: 10px;
    background-color: rgb(72, 73, 80);
    border-radius:  10% 10% 10% 10% / 25% 25% 25% 25% ;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border:0px;
    color: white;
}
#score{
    display:flex;
    align-items: center ;
    color: whitesmoke;
    font-size: 20px;
}