body{
  background-color: #1c5865
}
table,
td,
th {
    padding: 1px;
    border-collapse: collapse;
}
.buttons {
    border-radius:  50% 50% 50% 50% / 25% 25% 25% 25%  ;
    width: 75px;
    height: 75px;
    font-size: 35px;
}

#id\+button, #id\-button, #id\*button, #id\/button{
    background-color: rgb(183, 182, 182);
    border-radius: 50% 50% 50% 50%  / 33% 33% 33% 33%    ;
}
#id\+button:hover, #id\-button:hover, #id\*button:hover, #id\/button:hover, .buttons:hover, #idCbutton:hover, #id0button:hover, #idCALCULATEbutton:hover{
    background-color: rgb(0, 221, 255);
    cursor:pointer;
    border-radius: 100%;
}
#id0button {
    border-radius:  10% 10% 10% 10% / 25% 25% 25% 25%  ;
    width: 153px;
    height: 75px;
}
#idCbutton {
    background-color: rgb(255, 168, 168);
    border-radius: 15%   ;
    width: 75px;
    height: 75px;
    text-align: center;
    padding: 0px;
    font-size: 30px;
}
#idCALCULATEbutton {
    background-color: rgb(38, 180, 128);
    border-radius: 10% 10% 10% 10% / 25% 25% 25% 25%      ;
    width: 229px;
    height: 75px;
    text-align: center;
    padding: 0px;
    font-size: 30px;
}
#display{
    color: white;
    border-radius: 5% 5% 5% 5%/ 25% 25% 25% 25%  ;
    font-size: 25px;
    width: 300px;
    height: 50px;
}
#root{              
    display: flex;
    justify-content: center; 
    align-items: center;
}
.head{
    text-align: center;
    color: white;
    font-size: 40px;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif
}