body{
  background-color: #28282c
}
table,
td,
th {
    padding: 1px;
    border-collapse: collapse;
}

.buttons {
    border-radius:  50% 50% 50% 50% / 25% 25% 25% 25%  ;
    width: 100px;
    height: 100px;
    font-size: 35px;
    border:0px;
}


#id\+button, #id\-button, #id\*button, #id\/button, #id\!button, #id\^2button, #id\%button, #id\√button, #id\(button,#id\)button{
    background-color: rgb(144, 137, 137);
}

#id0button {
    border-radius:  10% 10% 10% 10% / 25% 25% 25% 25%  ;
    width: 200px;
}
#idCbutton {
    background-color: rgb(127, 41, 41);
    border-radius:  10% 10% 10% 10% / 25% 25% 25% 25% ;
    width: 200px;
}
#id\=button {
    background-color: rgb(38, 180, 128);
    border-radius: 10% 10% 10% 10% / 25% 25% 25% 25%      ;
    width: 406px;
}

.display{
    background-color: #3c3c45;
    color: white;
    border-radius: 5% 5% 5% 5%/ 25% 25% 25% 25%  ; 
    border: 0px;
    font-size: 30px;
    text-align: right;
    width: 403px;
    height: 75px;
}
#root{              
    display: flex;
    justify-content: center; 
    align-items: center;
}
.head{
    text-align: center;
    color: white;
    font-size: 55px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#id\+button:hover, #id\^2button:hover, #id\%button:hover,  #id\!button:hover,#id\)button:hover, #id\(button:hover,  #id\√button:hover, #id\-button:hover, #id\*button:hover, #id\/button:hover, .buttons:hover, #idCbutton:hover, #id0button:hover, #idCALCULATEbutton:hover{
    background-color: rgb(0, 221, 255);
    cursor:pointer;
   
}